<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!--<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>-->

  <connectionStrings>
    <add name="cnnPMdev" connectionString="server=pmdb-dev.magna5global.com;database=puppetmaster;Uid=eginzburg;Pwd=SWsku26vQbVkt!mVf" />
    <add name="cnnPM" connectionString="server=WPADWDB01.magna5global.com;database=puppetmaster;Uid=roadrunner;Pwd=roadrunner2017" />
    <add name="cnnProduction" connectionString="Data Source=cv2db-dev.magna5global.com;Initial Catalog=Production;Persist Security Info=True;User Id=Cv2;Password=Cv2;Timeout=120;Max Pool Size=200;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <appSettings>
    <add key="cwBaseURL" value="https://na.myconnectwise.net/v4_6_release/apis/3.0/"/>
    <add key="cwConsumerKey" value="WElqfwuw091OERQp"/>
    <add key="cwConsumerSecret" value="jI87DQT0Jed1UqBV"/>
    <add key="cwClientID" value="c7b06b83-e581-4693-98eb-1aa250a65435"/>

    <add key="vcoBaseURL" value="https://vco160-usca1.velocloud.net/portal/rest/"/>
    <add key="vcoConsumerKey" value="api@magna5global.com"/>
    <add key="vcoConsumerSecret" value="WrwleCHn^e83@5lX"/>
    <add key="vcoLoginURL" value="https://vco160-usca1.velocloud.net/magna5global/login/enterpriseLogin"/>
  </appSettings>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.17.0" newVersion="8.0.17.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>