<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <connectionStrings>
    <add name="cnnPMdev" connectionString="server=pmdb-dev.magna5global.com;database=puppetmaster;Uid=eginzburg;Pwd=SWsku26vQbVkt!mVf" />
    <add name="cnnPM" connectionString="server=WPADWDB01.magna5global.com;database=puppetmaster;Uid=roadrunner;Pwd=roadrunner2017" />
    <add name="cnnProduction" connectionString="Data Source=cv2db-dev.magna5global.com;Initial Catalog=Production;Persist Security Info=True;User Id=Cv2;Password=Cv2;Timeout=120;Max Pool Size=200;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.17.0" newVersion="8.0.17.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>